@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Configuration Sample</h2>

<p>This is our configuration sample, demonstrating the various ways that you can
	inject configuration information into your application.</p>

<p>
	Watch the navigation bar above for color changes as we configure from different sources
</p>

<p>The hostname information in the footer comes directly from configuration</p>