<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore  processPath="%LAUNCHER_PATH%" 
        arguments="%LAUNCHER_ARGS%" 
        stdoutLogEnabled="false" 
        stdoutLogFile=".\logs\stdout">
	<environmentVariables>
		<environmentVariable name="MyConfiguration__MenubarBgColor" 
												 value="skyBlue" />
		<environmentVariable name="MyConfiguration__MenubarColor" 
												 value="black" />
	</environmentVariables>    
</aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: CAFF59B9-A795-447C-8F17-E2432F9F7DC1-->